seccion-amarilla/direct/n8n-sofia.json
{
  "name": "SOFIAAGO2025",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.6
        }
      },
      "id": "fe45dd1d-a064-45cb-87b3-dc947309e033",
      "name": "model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        6080,
        560
      ],
      "credentials": {
        "openAiApi": {
          "id": "VjMzRDkjX4D5vWM3",
          "name": "OpenAI Mi Hogar"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alejandrabot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        464
      ],
      "id": "e475f1df-8473-4307-9b27-4f9c44abd70f",
      "name": "new_message",
      "webhookId": "125e2f77-30d9-40ae-abc5-409d89d54f09"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('concatenar').last().json.mensaje_completo }}",
        "options": {
          "systemMessage": "=## Fecha actual \nHoy es {{ $now.setZone(\"America/Mexico_City\") }}\n\n\n## Role:\nEres un asistente virtual especializado que trabaja junto con la Perito en Genética MSc. Alejandra Burguete para brindar asesoría inicial sobre pruebas de paternidad.\n\n## Tarea\nSIEMPRE contestar EXCLUSIVAMENTE en formato JSON con las siguientes propiedades:\n\n\"respuestausuario\": aquí colocarás la respuesta final que darías al usuario.\n\"nombre\": el nombre del usuario, si no lo ha dado escribe \"vacio\".\n\"apellido\": el apellido del usuario, si no lo ha dado escribe \"vacio\".\n\"correo\": el correo del usuario, si no lo ha dado escribe \"vacio\".\n\"celular\": el celular del usuario sin espacios, si no lo ha dado escribe \"vacio\".\n\"dia\": día que seleciconó el usuario en formato \"2000-09-25\" o día que el usuario está consultando por disponibilidad, Si el usuario menciona fechas como \"hoy\", \"mañana\", \"el sábado\", \"el próximo lunes\", etc., debes convertirlas SIEMPRE al formato exacto `\"YYYY-MM-DD\"` y escribirlo, si no lo ha dado escribe \"vacio\".\n\"hora\": hora que seleccionó el usuario en formato \"15:00:00\" si el usuario da un rango de horas entonces escribe la primer hora, si no lo ha dado escribe \"vacio\".\n“atencion”: Si el usuario menciona una prueba o información de la cual no tienes información entonces escribe “personalizado”, si no lo ha dado escribe “vacio”\n\n\nLa ESTRUCTURA del output Json debe ser exactamente:\n{\n  \"respuestausuario\": \"\",\n  \"nombre\": \"\",\n  \"apellido\": \"\",\n  \"correo\": \"\",\n  \"celular\": \"\",\n   \"dia\": \"\",\n  \"hora\": \"\",\n  \"atencion\": \"\"\n }\n\nSIEMPRE debes escribir la palabra exacta \"vacio\" entre comillas como valor literal si y sólo si el usuario no ha proporcionado su nombre, apellido, correo, celular, cumpleaños, ciudad, sucursal, día, hora o servicio. No dejes ningún campo como cadena vacía \"\". No lo omitas. No lo pongas como null. DEBES escribir exactamente \"vacio\" como texto literal.\n\nNo incluyas propiedades como \"output\" ni anides el objeto dentro de ninguna otra clave.\nNo añadas texto fuera de las llaves del JSON ni rodees el JSON con etiquetas o texto extra.\n\nNo incluyas explicaciones adicionales ni texto fuera del JSON.\nCualquier otro formato o clave diferente romperá el sistema, por favor síguelo estrictamente.\n\n## VALIDACIÓN FINAL OBLIGATORIA (NO OMITIR)\nAntes de confirmar cualquier agendamiento o cita debes VERIFICA que TODOS los campos del JSON contengan un valor distinto a \"vacio\". \nSI ALGUNO contiene \"vacio\", NO confirmes la cita, agendamiento o valoración, simplemente responde amablemente solicitando el dato que falta.\nNO inventes valores. NO confirmes la cita si falta algún campo.\nSolo cuando TODOS los campos estén completos (ninguno con \"vacio\"), puedes responder con un mensaje de confirmación de cita.\nNO confirmes la cita si alguna propiedad del JSON aún está con el valor \"vacio\". En ese caso, analiza cuáles son los campos que faltan y PREGUNTA amablemente SOLO por los campos faltantes. \nNO repitas información que ya se tiene. No reinicies la conversación.\nCuando ya tengas todos los datos completos (ninguno con \"vacio\"), entonces y solo entonces puedes generar la respuesta final confirmando la cita.\n\n\n\n## Herramientas disponibles\n\n- crear_cita: Usa esta herramienta cuando el usuario haya proporcionado sus datos; nombre, apellido, correo, servicio, día y hora para agendar la cita.\n\n- eliminar_cita: Usa esta herramienta cuando el usuario exprese que quiere cancelar o reagendar su cita.\n\n- ver_eventos: Utiliza esta herramienta para saber cuál es el evento que el usuario quiere eliminar o modificar o para verificar disponibilidad el día o días que le interesan al usuario.\n\n- disponibilidad: Utiliza esta herramienta para verificar si el día y la hora que el usuario desea agendar está disponible o si el usuario pregunta por opciones de disponibilidad.\n\n- Herramienta Think: Úsala para asegurarte que estamos brindando el día correcto y que no estamos ignorando ninguna limitante de las que establecimos. \n\n - Google Sheets \"Productos\": para cuando el usuario pregunte sobre algún producto específico.\n\n## Agenda de citas\n- Cada evento que programes tiene una duración de 1 hora. No se lo menciones al usuario.\n- Antes de agendar, Siempre revisa disponibilidad.\n- No sobrepongas eventos en el calendario, no tiene que haber dos eventos cuyas horas de duración se mezclen en el calendario, si el evento que quiere el usuario coincide con la hora de inicio, final o el transcurso de otro, recomiéndale la hora más cercana dentro de los horarios establecidos.\n- Requisitos para agendar: Nombre completo, dirección completa, correo electrónico y fecha y hora en la que quiere que se haga su prueba.\n- Solo pueden agendar de lunes a sábado de 9:00am a 6:00pm. No permitas que agenden fuera de ese horario, tampoco permitas agendar citas si el término del servicio será después del horario establecido.\n- También puedes cancelar citas si el cliente te lo pide.\n- El usuario puede pedir disponibilidad cierto día, si lo hace primero pregunta en qué horario le gustaría tener su prueba y solo responde si hay o no, y si no hay recomiéndale una hora cercana, sin pedir sus datos y sin agendar, solo consultando disponibilidad. Si quiere agendar después de eso ahora si pide la información y agenda la cita dentro de los horarios establecidos.\n- Cuando le das las horas recomendadas al usuario y vuelve a preguntar por otra hora, vuelve a revisar disponibilidad dentro de los horarios establecidos.\n- No agendes ninguna cita antes de la fecha actual, considera que hoy es {{ $now.setZone(\"America/Mexico_City\") }}.\n\n## Orden de la conversación\n\n- Si el usuario solicita una prueba de paternidad prenatal menciónale que primero se debe dar un anticipo de $10,000, ya que se debe hacer la solicitud del kit especializado para este tipo de pruebas, el cual llega en una semana.  Una vez pagado el anticipo se procede a agendar la cita para la toma de las muestras, ¿le gustaría que le facilite los datos de depósito o prefiere realizar su pago en el consultorio?. \n\n- Si el usuario desea realizar su pago de prueba prenatal en el consultorio entonces brindarle los datos de la ubicación. \n\n- Si el usuario desea realizar su pago de prueba prenatal con depósito entonces brindarle los datos de la cuenta bancaria. \n\n1. Resuelve cualquier duda que el usuario mencione\n1.1 Si el usuario inicia la conversación con una pregunta, RESPONDE con “¡Hola! Soy la asistente de la Perito en Genética MSc. Alejandra Burguete. Estoy aquí para ayudarte a conocer tus opciones para realizar una prueba de paternidad” y luego RESPONDE a la pregunta.\n1.2 Si el usuario inicia la conversación ÚNICAMENTE con un saludo, RESPONDE\n“¡Hola! Soy la asistente de la Perito en Genética MSc. Alejandra Burguete. Estoy aquí para ayudarte a conocer tus opciones para realizar una prueba de paternidad. ¿Puedo hacerte unas preguntas para entender mejor tu caso?”\n\n2. Pregunta “¿La prueba que necesitas es con fines legales o solo informativos?”\n\n3. Pregunta “¿Qué personas participarían en la prueba? (Ej. supuesto padre, hijo, madre, otros)”\n\n4. Pregunta “¿Están todas las personas disponibles para acudir a la toma de muestra?”\n\n5. Con base a la información recibida brindarle al usuario el precio y preguntar si desea agendar una cita.\n\n6. Si el usuario desea Agendar su cita para prueba de paternidad entonces: \nmencionale que estamos de Lunes a Sábado 9:00 - 18:00, y pregunta “¿qué día y hora le gustaría agendar?”\n6.1.1 Si el usuario pregunta por disponibilidad un día sin mencionar hora utiliza la herramienta \"ver_eventos\" para revisar en qué espacios de tiempo hay capacidad de agendar y mencionale tres opciones al usuario.\n6.1.2 Consulta la disponibilidad en el calendario utilizando la herramienta \"disponibilidad\"\n6.2 Si hay disponibilidad entonces pregúntale los siguientes 3 datos: \n\n   - (correo, nombre) y (número de celular). Si no tienen correo electrónico utiliza el correo prue39@hotmail.com\n\n6.2.1 Habiendo capturado estos datos confirma su cita y agéndalo con la herramienta de Google calendar \"crear_evento\" con una duración de una hora, también bríndale los requisitos para hacer la prueba.\n\n6.2.2 Si no hay disponibilidad CONTESTAR \"Lo lamento, ese horario no está disponible. ¿Te gustaría que revisemos otra opción?\"`\n\n6.2.3 Si el usuario decide cancelar su cita utiliza la herramienta de Google Calendar \"ver_eventos\" para saber cuál evento tienes que eliminar y después usa la herramienta \"eliminar_evento\" para eliminar la cita.\n\n6.2.4 Si el usuario quiere reagendar su cita utiliza la herramienta de Google Calendar \"ver_eventos\" para saber cuál evento tienes que eliminar, después usa la herramienta \"eliminar_evento\" para cancelar la cita actual y utiliza la herramienta \"crear_evento\" para crear la nueva cita.\n\n## Instrucciones especiales\n\nSi el usuario hace una pregunta general o específica al inicio (por ejemplo: \"¿Cuánto cuesta?\", \"¿Tienen citas disponibles?\", \"¿Cuál es la diferencia entre prueba legal e informativa?\"), RESPONDE primero con el saludo inicial 1.1 a esa duda y después continúa con el flujo de preguntas.\n- Haz las preguntas una por una. No envíes todas juntas.\n- Espera a que el usuario conteste cada una de las preguntas antes de avanzar a la siguiente.\n- \n-Si te preguntan por una prueba de la que no te haya proporcionado información, debes decirle al cliente que por el momento no cuentas con esa información, que si te permite preguntarás a la especialista MSc. Alejandra Burguete y lo contactarás en el horario que sea más conveniente para él y escribe en el campo “atencion”=”personalizado” .  \n\n## Preguntas Frecuentes:\n\n- Si pregunta por el precio  responde: Claro, pero primero ¿puedo hacerte unas preguntas para entender mejor tu caso?\n\n- Si pregunta: ¿Cuál es la diferencia entre prueba legal e informativa?, responde brevemente con la información oficial disponible.\n\n- Si el usuario no quiere que su pareja se entere debes decirle que las pruebas no se pueden realizar sin consentimiento de la persona a quien se le hará la prueba. \n\n- Si el usuario no quiere que su hijo o hija se entere de que está haciendo la prueba y éste es menor de edad, podemos ofrecerle realizar la prueba con muestras especiales como cepillo de dientes o folículo capilar. Hay que considerar que el costo de la prueba es diferente si se hace con una muestra diferente a exudado bucal. En estos casos, lo ideal es tener una cita para poder explicarle sus opciones y el manejo de la muestra de acuerdo al contexto de su caso .\n\n### ¿Cuál es el precio de una prueba de paternidad?\n\n1.- Prueba de paternidad informativa (no se requiere para una demanda legal) para un supuesto padre y un hijo o hija es de $6,900.00\n\n2.- Prueba de paternidad legal (peritaje en genética) en la ciudad de Tuxtla Gutiérrez es de $13,000.00 para un supuesto padre y un hijo o hija. \n\n3.- Prueba de paternidad informativa (no se requiere para una demanda legal) para un supuesto padre y varios hijos. Cada hijo adicional tiene costo de $2,000.00\n\n4.- Una prueba análisis de cromosoma Y para determinar linaje paterno para dos varones tiene costo de $8,500. \n\n5.- Una prueba de análisis de cromosoma X para determinar linaje paterno para dos mujeres tiene costo de $7,500. \n\n6.- Una prueba de maternidad tiene costo de $6,900. \n\n### ¿Cuál es la diferencia entre una prueba informativa y una prueba legal?\nLa prueba informativa es únicamente para conocimiento del cliente, no se puede usar como resultado en una prueba legal. La prueba legal deriva de una demanda de reconocimiento o desconocimiento de paternidad, en donde un perito en genética realiza la prueba y se emite un dictamen pericial. \n\n###¿Con qué tipo de muestras se realiza la prueba? \nLa prueba se realiza con exudado bucal. Aunque se puede realizar con diferentes tipos de muestra como sangre, folículo capilar o tejido, lo recomendable es realizarla con exudado porque es mas estable y no requiere piquetes para obtenerla. El resultado no va a variar entre un tipo de muestra y otro porque el ADN es el mismo en todas las muestras. Hay que tomar en cuenta que el costo de la prueba varía si se quiere hacer con un tipo de muestra diferente a exudado bucal. \n\n###¿Cuales son los requisitos para hacer la prueba?\n1.- Documentacion: firmar una carta de consentimiento informado de perfil genetico. Si hay un menor de edad, por ejemplo, el hijo o hija, se requiere que un tutor legal firme el consentimiento, de lo contrario, la prueba no se puede realizar. Este tutor legal debe mostrar su identificacion oficial. \n2.- Toma de muestra: \n-Tener ayuno de dos horas. Durante este tiempo pueden tomar agua pura sin compartir vaso ni botella para evitar contaminacion con otro ADN.\n-No fumar ni tomar bebidas alcoholicas desde 24 horas antes de la toma de muestra.\n-Lo ideal es cepillarse los dientes dos horas antes de la toma de muestras. Así tenemos menor contaminacion orgánica y bascteriana. No hay que lavarse durante las dos horas de espera porque la pasta de dientes no permite extraer el ADN. \n-Evitar cualquier práctica que implique intercambio de saliva, ya que la muestra se puede contaminar con otro ADN. \n\n###¿Qué pasa si la muestra del padre no esta disponible?\nEn estos casos se pueden realizar pruebas de cromosomas sexuales Y o X para inferir la paternidad. \nPrimero debes preguntar si se trata de un hijo o una hija, una vez que conozcas esa información, puedes explicar el tipo de análisis que le corresponda. Estos pueden ser: \n-Si el hijo es varón, se puede realizar una prueba llamada análisis de cromosoma Y para determinar linaje paterno, la cual permite saber si el hijo pertenece al mismo linaje de varones que algún familiar varón del supuesto, puede ser un hermano del supuesto padre o el abuelo paterno. Esta prueba no se puede realizar con mujeres. \n-Si se trata de una hija, en este caso se debe realizar una prueba de análisis de cromosoma X para determinar linaje paterno. Este prueba permite saber si existe un parentesco por linea paterna entre dos mujeres, estas pueden ser la abuela paterna o puede ser una hoja biológica del supuesto padre. Esta prueba no se puede realiza con hombres. \n\n###¿Qué pasa si no quiero que la mamá sepa? \nSi el hijo o hija tiene los apellidos del supuesto padre, este mismo puede firmar la carta de consentimiento informado. \n\n###¿Hacen tomas a domicilio?\nPodemos realizar toma de muestras a domicilio dentro de la ciudad de Tuxtla Gutiérrez, con costo extra dependiendo de la ubicación del domicilio. \n\n###¿Las personas tienen que asistir al consultorio?\nExiste la opción de darles un kit de toma de muestra para que el cliente tome las muestras desde la ubicación que le sea más conveniente. Para obtener el kit, debe pagarse el 50% del costo de la prueba que elija y el 50% restante se paga el momento de llevar las muestras para su procesamiento. Podemos hacer envíos a diferentes ciudades por paquetería dhlo estafeta, o bien, los clientes pueden recoger el kit en el consultorio, previa cita.\n\n###¿Cuál es el tiempo de entrega de resultados?\nLos resultados de las pruebas de paternidad, maternidad y análisis de cromosoma X para determinar linaje paterno se entregan a los 6 días hábiles de la toma de muestras. La prueba de cromosoma Y para determinar linaje paterno tiene tiempo de entrega de resultados de 8 a 10 días hábiles. \n\n###¿Cuáles son las formas de pago?\nPueden pagar con tarjeta, transferencia bancaria o efectivo.\n\n###¿Qué información se necesita para enviar el kit por paquetería?\nEl cliente debe llenar la siguiente informacion: \n-Nombre de quien recibe.\n-Dirección completa.\n-Codigo postal.\n-Correo.\n-Telefono.\n-Referencias de la dirección. \n-Comprobante de pago del 50% del costo de la prueba. \n\n###SI EL CLIENTE BUSCA UNA PRUEBA LEGAL\nDebes preguntar para cuantos hijos es la prueba y en qué ciudad se esta llevando el caso. Una vez que te respondan, considera lo siguiente:\n-La perito en Genética únicamente realiza peritajes en el estado de Chiapas. Si lo quieren para otro estado, diles de forma amable que no se podría dar el servicio.\n-Las pruebas de paternidad legales para un supuesto padre y un hijo tienen costo de $13,000 si el caso se esta llevando en Tuxtla Gutiérrez, si es fuera de esta ciudad, como San Cristóbal de las Casas, Cintalapa o Villaflores el costo es de $15,000. Si es en tonalá el costo es de $16,000. Si no es ninguno de estos lugares, debes preguntar al especialista para dar la informacion correcta.\n-De manera profesional proporciona mayor certeza al cliente sobre el servicio usando la siguiente informacion: Alejandra Burguete es Perito en Genética acreditado ante el poder judicial del estado de Chiapas, con cédula profesional en Genética y Biología Molecular. Forma parte de la Asociación Mexicana de Genética Humana y de la Sociedad Latinoamericana de Genética Forense. Con más de 10 años de experiencia en el área, si lo que busca es un perito experimientado y profesional es la mejor opción.\n\n\n### Ubicación \n\nCalle Circuito Galaxias Sur #6 Int. 2F, Colonia Fovissste Paraíso, Tuxtla Gutiérrez, Mexico\n 961 149 5015\nSi te piden referencias puedes mandar mapa de googlemaps con este link https://maps.app.goo.gl/GDMQvoDBj13xfAgn6 o puedes decirles que estamos por ciudad universitaria de la UNICACH, cerca de casa de gobierno, dentro de la clínica INTEGRA Centro Médico.\n\n### ¿Realizan pruebas de paternidad prenatales o durante el embarazo?\nSi las realizamos, específicamente pruebas prenatales no invasivas. Estas pruebas se realizan a partir de la semana 10 de gestación y tienen un tiempo de entrega de resultados de 45 días. Debido a los tiempos de entrega, si la madre se encuentra en etapas avanzadas, la recomendación es esperar al nacimiento, ya que la prueba de paternidad clásica se puede realizar desde el día 1 de nacimiento.\n\n### ¿Cómo se realiza una prueba de paternidad prenatal o durante el embarazo?\nLa prueba se realiza utilizando sangre de la madre y exudado bucal del supuesto padre. En la sangre de la madre existe ADN fetal, el cual es obtenido para poder realizar la prueba de paternidad. \n\n### ¿Cuál es el costo de una prueba de paternidad prenatal?\nEl costo es de $28,000. \n\n### ¿Cuál es el proceso para agendar una prueba de paternidad prenatal?\nPara poder agendar una prueba de paternidad prenatal primero se debe dar un anticipo de $10,000, ya que se debe hacer la solicitud del kit especializado para este tipo de pruebas, el cual llega en una semana.  Una vez pagado el anticipo se procede a agendar la cita para la toma de las muestras. \nLas citas para toma de muestras para pruebas de paternidad prenatales solo pueden agendarse para lunes o martes por cuestiones de logística, mínimo una semana después de pagar el anticipo para que el kit se encuentre en existencia.\n\n\n\n\n## Limitantes\n\nNo agendes en Google calendar citas para prenatales, solo obtén los datos del cliente.\nNo hagas descuentos que no estén especificados en tus instrucciones.\nNUNCA DEBES DAR RECOMENDACIONES DE COSAS CASERAS.\nSiempre contesta con información disponible\nNo inventes respuestas"
        }
      },
      "id": "64cd6f0e-3e8a-4e99-a7c2-f4f20579c068",
      "name": "Agente Relief",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        6240,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$json,\n      timestamp: new Date().toISOString()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        224
      ],
      "id": "63dfdd60-fa33-449a-97ed-9d86827bfd40",
      "name": "tiempo_actual"
    },
    {
      "parameters": {
        "jsCode": "const mensajes = items.map(i => i.json);\n\n// Ordenar por timestamp ascendente\nmensajes.sort((a, b) => new Date(a.fecha) - new Date(b.fecha));\n\n// Calcular diferencia con el último mensaje\nconst ultimo = mensajes[mensajes.length - 1];\nconst tiempoUltimo = new Date(ultimo.fecha).getTime();\nconst tiempoActual = Date.now();\nconst diferencia = tiempoActual - tiempoUltimo;\n\nreturn [{\n  json: {\n    mensajes,\n    lead: mensajes[0]?.lead || null,\n    diferencia_ms: diferencia\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        416
      ],
      "id": "157c4ee0-c16e-44bd-b7a6-33d146b9ee47",
      "name": "ordena"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.diferencia_ms }}",
                    "rightValue": 15000,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "2f7d2414-e6be-49cf-b388-579384e4663c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "procesar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2da4e7db-1d33-4250-8408-ac1486f70f12",
                    "leftValue": "={{ $json.diferencia_ms }}",
                    "rightValue": 15000,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regresar"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4624,
        416
      ],
      "id": "66b495cc-16bb-4dbe-9216-ed65a9d10d2a",
      "name": "Switch2"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4848,
        576
      ],
      "id": "4c18d8a2-93b0-40b5-a7b4-797d580fea34",
      "name": "Wait1",
      "webhookId": "40702fe3-08b4-49d6-9d93-1c2c401e8f30"
    },
    {
      "parameters": {
        "jsCode": "const mensajes = $json.mensajes.map(m => m.mensaje);\nreturn [{\n  json: {\n    usuario_id: $json.usuario_id,\n    mensaje_completo: mensajes.join(' ')\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4848,
        352
      ],
      "id": "72d7898f-423f-4bc1-9602-188d58843961",
      "name": "concatenar"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Mensajes_temporales_alejandra",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "lead",
              "condition": "eq",
              "keyValue": "={{ $('new_message').last().json.body['message[add][0][chat_id]'] }}"
            },
            {
              "keyName": "estatus",
              "condition": "eq",
              "keyValue": "procesando"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3520,
        224
      ],
      "id": "822125c4-180a-4214-b24f-aff3a2a17dc3",
      "name": "GetMany_Estado_procesando",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "UyOaLlGtFjkKGRSK",
          "name": "Supabase Relief"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Mensajes_temporales_alejandra",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lead",
              "fieldValue": "={{ $('new_message').item.json.body['message[add][0][chat_id]'] }}"
            },
            {
              "fieldId": "mensaje",
              "fieldValue": "={{ $json.finalText }}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "={{ $json.timestamp }}"
            },
            {
              "fieldId": "estatus",
              "fieldValue": "pendiente"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3296,
        224
      ],
      "id": "db728d0d-50d2-48e2-aadd-fbd1f05d03ed",
      "name": "Supabase_insert_row",
      "credentials": {
        "supabaseApi": {
          "id": "UyOaLlGtFjkKGRSK",
          "name": "Supabase Relief"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Mensajes_temporales_alejandra",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "lead",
              "condition": "eq",
              "keyValue": "={{ $('new_message').last().json.body['message[add][0][chat_id]'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5152,
        208
      ],
      "id": "c2c7f50b-c9ac-44e2-ac1c-afa64075d7de",
      "name": "vacia_supabase",
      "credentials": {
        "supabaseApi": {
          "id": "UyOaLlGtFjkKGRSK",
          "name": "Supabase Relief"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8713766e-2b2b-4b74-85f5-0dab16a1fb75",
              "leftValue": "={{ $json.estado === \"procesando\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3744,
        224
      ],
      "id": "644c98fa-67ed-471f-8dc6-906aab5a3494",
      "name": "IF_Ejecucion_Activa"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3952,
        224
      ],
      "id": "6d45cec5-d7a3-44b3-befa-6c9a62baec5c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Mensajes_temporales_alejandra",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "lead",
              "condition": "eq",
              "keyValue": "={{ $('new_message').last().json.body['message[add][0][chat_id]'] }}"
            },
            {
              "keyName": "estatus",
              "condition": "eq",
              "keyValue": "pendiente"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estatus",
              "fieldValue": "procesando"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3952,
        432
      ],
      "id": "5c798c68-d32a-4ad9-bded-212a2bb2797a",
      "name": "Supabase_actualiza_procesando",
      "credentials": {
        "supabaseApi": {
          "id": "UyOaLlGtFjkKGRSK",
          "name": "Supabase Relief"
        }
      }
    },
    {
      "parameters": {
        "url": "= https://{{ $json.body['account[subdomain]'] }}.kommo.com/api/v4/leads/{{ $json.body['message[add][0][element_id]'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImYxMmQ1ZTE5ZGRiNmUwY2M3NDhiN2IyYjg0ODA2Yjg5NjM0NDgwYzk2YjY1MDlmN2NhY2M2ODc4NWU2Y2E5MDBlYzg3NTkyMjlhMGMzOWU4In0.eyJhdWQiOiI3NWI3ODFlZS00MTNmLTQ0NGYtYWY0MS1mMjkxZmEyN2MzZmYiLCJqdGkiOiJmMTJkNWUxOWRkYjZlMGNjNzQ4YjdiMmI4NDgwNmI4OTYzNDQ4MGM5NmI2NTA5ZjdjYWNjNjg3ODVlNmNhOTAwZWM4NzU5MjI5YTBjMzllOCIsImlhdCI6MTc1MzQ2NjU1MywibmJmIjoxNzUzNDY2NTUzLCJleHAiOjE4ODgwOTkyMDAsInN1YiI6IjEyNjQyMDMxIiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MTA4MDM5LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiYTY2NjFiY2QtNzAyYy00MjA0LWI4ZTctN2I5YzU5YzFiMjk0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.ZovzGJFrwGqJxenhz6k4y7sBQqHUfdtQT1uDTPowc__g61NzqJ46Onkkom6yp6b3wBj31DDO-XzEYjgC3ovF2R6Wk2pZJpoV9hpwr1NswMzi-msoakE6WCSsLUIQpbDzV2JI2VTRACIaqUUz8DIYYi8IdoqqdavLtVcmFNeEfCnWHzqUQiyT-vFsJfly4psqSBI4AYJ7YoTGRo-PmqNaIrTF_fL2tcC13Oa6UjoP7PFthliZtShL6viim2iH33JPPKLFRgXbgVc6FDOSd7PeutoWN1_5UGH_H-fdctHQB4HZ3zNtxyo_3Ld4sg0-9QfNoY_d69EMwNwGIxyU8qGxsA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        464
      ],
      "id": "75361a68-8f20-4ef9-a771-5aeb9d16efb9",
      "name": "Get Lead"
    },
    {
      "parameters": {
        "url": "= https://{{ $('new_message').item.json.body[\"account[subdomain]\"] }}.kommo.com/api/v4/leads/{{ $('new_message').item.json.body[\"message[add][0][element_id]\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImYxMmQ1ZTE5ZGRiNmUwY2M3NDhiN2IyYjg0ODA2Yjg5NjM0NDgwYzk2YjY1MDlmN2NhY2M2ODc4NWU2Y2E5MDBlYzg3NTkyMjlhMGMzOWU4In0.eyJhdWQiOiI3NWI3ODFlZS00MTNmLTQ0NGYtYWY0MS1mMjkxZmEyN2MzZmYiLCJqdGkiOiJmMTJkNWUxOWRkYjZlMGNjNzQ4YjdiMmI4NDgwNmI4OTYzNDQ4MGM5NmI2NTA5ZjdjYWNjNjg3ODVlNmNhOTAwZWM4NzU5MjI5YTBjMzllOCIsImlhdCI6MTc1MzQ2NjU1MywibmJmIjoxNzUzNDY2NTUzLCJleHAiOjE4ODgwOTkyMDAsInN1YiI6IjEyNjQyMDMxIiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MTA4MDM5LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiYTY2NjFiY2QtNzAyYy00MjA0LWI4ZTctN2I5YzU5YzFiMjk0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.ZovzGJFrwGqJxenhz6k4y7sBQqHUfdtQT1uDTPowc__g61NzqJ46Onkkom6yp6b3wBj31DDO-XzEYjgC3ovF2R6Wk2pZJpoV9hpwr1NswMzi-msoakE6WCSsLUIQpbDzV2JI2VTRACIaqUUz8DIYYi8IdoqqdavLtVcmFNeEfCnWHzqUQiyT-vFsJfly4psqSBI4AYJ7YoTGRo-PmqNaIrTF_fL2tcC13Oa6UjoP7PFthliZtShL6viim2iH33JPPKLFRgXbgVc6FDOSd7PeutoWN1_5UGH_H-fdctHQB4HZ3zNtxyo_3Ld4sg0-9QfNoY_d69EMwNwGIxyU8qGxsA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        336
      ],
      "id": "046bc0c2-bbf0-4cff-b7f3-ff2cc7216698",
      "name": "Revisar Tag"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.parseJson()._embedded.tags.some(t => t.name === 'stop_ai') }}",
                    "rightValue": 62821670,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "99544b19-1ec2-43bc-ad8a-cd6eea119e53"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no stop_ai tag"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1536,
        336
      ],
      "id": "465af547-22c7-4059-bffa-0de326786ab6",
      "name": "hasStopTag"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('new_message').item.json.body[\"message[add][0][text]\"] !== undefined }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7de3a6d9-1eb8-403d-afce-64dde6932d38"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6571f049-4276-465f-aaf2-3d25f4665b67",
                    "leftValue": "={{ $('new_message').last().json.body['message[add][0][attachment][type]'] === \"voice\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c4ff9e7-23fb-4667-a080-fee86324cfeb",
                    "leftValue": "={{ $('new_message').last().json.body[\"message[add][0][attachment][type]\"] === \"picture\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1984,
        336
      ],
      "id": "b9162777-c0d3-41d0-82ee-c6f34b34dd54",
      "name": "Tipo de mensaje"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3283f05f-55ae-4f8d-bbd0-7a747a0b4641",
              "name": "text",
              "value": "={{ $('new_message').last().json.body['message[add][0][text]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        128
      ],
      "id": "278de9d8-e4fd-463f-9a9e-c86408bf993f",
      "name": "Configurar Texto"
    },
    {
      "parameters": {
        "url": "={{ $('new_message').item.json.body[\"message[add][0][attachment][link]\"] }}",
        "options": {}
      },
      "id": "6990ab27-e52d-4e27-916e-ea0bf05ca16d",
      "name": "Obtener voz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        336
      ]
    },
    {
      "parameters": {
        "url": "={{ $('new_message').item.json.body[\"message[add][0][attachment][link]\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        528
      ],
      "id": "213ea791-c330-41fa-8402-0b2e2d07a3ef",
      "name": "Obtener imagen"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "8da31902-1137-47b5-b1bf-e79ec63c1447",
      "name": "Transcribir voz",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2416,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "VjMzRDkjX4D5vWM3",
          "name": "OpenAI Mi Hogar"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=## Análisis de imagen de cabello\n\nEres un asistente experto en análisis de cabello. Al recibir una imagen, debes analizar si el cabello presenta técnicas de coloración como Balayage, luces, highlights, baby lights, o cualquier otra técnica de iluminación y el tipo de corte.\n\n### Clasificación especial: “SOBRESATURADO”\nSi el cabello en la imagen muestra una *iluminación intensa y generalizada*, donde:\n- **la mayor parte del cabello se ve muy clara o rubia**, \n- **predomina el color aplicado sobre el color base del cabello** (casi no se nota la raíz o el tono natural),\n- **la iluminación abarca todo el largo del cabello** sin contrastes notables,\n\nentonces clasifica el cabello como **“SOBRESATURADO”**.\n\n✅ Ejemplos de cabello sobresaturado:\n- Cabello rubio muy claro en la mayor parte de la melena.\n- Tono rubio uniforme sin degradado natural visible.\n- Luces excesivas que dominan por completo la imagen del cabello.\n\nEn caso contrario, describe la técnica usada (por ejemplo, balayage, luces, baby lights, shatush, etc.) y menciona si el resultado es equilibrado o si aún hay contraste con el tono base.\n\n### Instrucciones de salida\nDevuelve la descripción de forma concisa iniciando con:\n\n- Si está sobresaturado: `Cabello SOBRESATURADO: ...`\n- Si no lo está: `Cabello: ...`\n\n\n## Imagen de documento o comprobante\nCuando recibas imágenes de referencia de algún documento o comprobante la respuesta que debes dar debe comenzar con: “Te envío lo que dice el documento:” y describe a detalle lo que muestra el documento o comprobante.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2416,
        528
      ],
      "id": "6db502cf-2d5f-4162-9cab-9982c8417d03",
      "name": "Describir imagen",
      "credentials": {
        "openAiApi": {
          "id": "VjMzRDkjX4D5vWM3",
          "name": "OpenAI Mi Hogar"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2640,
        224
      ],
      "id": "e25765eb-acef-4e78-a7ea-59c37a34ae6d",
      "name": "Combinar tipos de mensaje"
    },
    {
      "parameters": {
        "jsCode": "const text = items.find(i => i.json.text)?.json.text || \"\";\nconst transcription = items.find(i => i.json.transcription)?.json.transcription || \"\";\nconst image = items.find(i => i.json.content)?.json.content || \"\";\nreturn [{\n  json: {\n    finalText: `${text}\\n${transcription}\\n${image}`.trim()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        224
      ],
      "id": "14c3436b-ed11-46ec-b6c6-f15939618aa0",
      "name": "Juntamos en un solo texto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('new_message').last().json.body[\"account[_links][self]\"] }}/ajax/v1/chats/session",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "kommoOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "request[chats][session][action]",
              "value": "create"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "269d6698-5c32-4de6-af61-edcc6164345d",
      "name": "Obtener Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8752,
        416
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "XCGkDns3ixgO1bEC",
          "name": "PH Ópticas"
        },
        "kommoOAuth2Api": {
          "id": "jwF5hqVkRHXs80Dg",
          "name": "Alejandra"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amojo.kommo.com/v1/chats/{{ $json.response.chats.session.account.id }}/{{ $('new_message').last().json.body['message[add][0][chat_id]'] }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "X-Auth-Token",
              "value": "={{ $json.response.chats.session.access_token }}"
            },
            {
              "name": "chatId",
              "value": "={{ $('new_message').last().json.body['message[add][0][chat_id]'] }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "silent",
              "value": "false"
            },
            {
              "name": "priority",
              "value": "low"
            },
            {
              "name": "crm_entity[id]",
              "value": "={{ $('new_message').last().json.body['message[add][0][entity_id]'] }}"
            },
            {
              "name": "crm_entity[type]",
              "value": "={{ $('new_message').last().json.body['message[add][0][element_type]'] }}"
            },
            {
              "name": "persona_name",
              "value": "={{ $json.response.chats.session.user.name }}"
            },
            {
              "name": "persona_avatar",
              "value": "={{ $json.response.chats.session.user.avatar }}"
            },
            {
              "name": "text",
              "value": "={{ $('Agente_Decisiones').item.json.respuestausuario }}"
            },
            {
              "name": "recipient_id",
              "value": "={{ $('new_message').last().json.body['message[add][0][author][id]'] }}"
            },
            {
              "name": "group_id"
            },
            {
              "name": "crm_dialog_id",
              "value": "={{ $('new_message').last().json.body['message[add][0][talk_id]'] }}"
            },
            {
              "name": "crm_contact_id",
              "value": "={{ $('new_message').last().json.body['message[add][0][contact_id]'] }}"
            },
            {
              "name": "crm_account_id",
              "value": "={{ $('new_message').last().json.body['account[id]'] }}"
            },
            {
              "name": "skip_link_shortener",
              "value": "false"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "f15394f2-b726-493f-95f0-28aead578acd",
      "name": "Enviar mensaje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8976,
        416
      ]
    },
    {
      "parameters": {
        "content": "## Recepción de datos",
        "height": 852,
        "width": 1444,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "8f63fcfa-7723-422c-97f2-1dcb712e595a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Definición de mensaje",
        "height": 852,
        "width": 1740,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        0
      ],
      "typeVersion": 1,
      "id": "f8a5f491-d493-481d-9969-5382f2a1aa74",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Buffer de mensajes",
        "height": 852,
        "width": 2156,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3248,
        0
      ],
      "typeVersion": 1,
      "id": "0e4f4191-8798-40f3-b4d9-e0311ac8e656",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Envío de mensaje",
        "height": 852,
        "width": 1448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5440,
        0
      ],
      "typeVersion": 1,
      "id": "2d786ecf-90ac-4e4d-b7ae-c1f49db8a801",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Credenciales necesarias\n\nWebhook: Método POST, copiar URl de producción y pegar en el nuevo Webhook en Kommo (configurado para activarse en un nuevo mensaje entrante).\n\nKommo: Primero crear nueva integración para obtener Client ID y Secret Code",
        "height": 360,
        "width": 520,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        912
      ],
      "typeVersion": 1,
      "id": "08a7eaac-ded1-4379-a034-2d849d2bff82",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.intencion }}",
                    "rightValue": "factura",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "58daf189-0231-4234-baef-a77fbe913637"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "factura"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb80c2b8-d2c8-45ff-8b81-f17aa13cafa8",
                    "leftValue": "={{ $json.message.content.estado }}",
                    "rightValue": "molesto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "molesto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "11f1d849-d9f8-494c-8db0-cf1d2e3e8a0a",
                    "leftValue": "={{ $json.message.content.intencion }}",
                    "rightValue": "conversacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversacion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5840,
        336
      ],
      "id": "1adf097c-f5ee-4f04-b07d-a34e397c02b7",
      "name": "intencion1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Mensajes_temporales_alejandra",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "lead",
              "condition": "eq",
              "keyValue": "={{ $json.lead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4176,
        432
      ],
      "id": "792d85c6-6060-4781-8179-519678c94d21",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "UyOaLlGtFjkKGRSK",
          "name": "Supabase Relief"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b7c517b-2baa-45cd-9d88-2ee95f4c0541",
              "leftValue": "={{ $('parsed').item.json.custom_fields_values.whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        336
      ],
      "id": "bee5782e-62f0-4968-8022-7b4cf4c3be3a",
      "name": "If"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "652ba8ef45146d4cc6eba4d595d04e3c8a48491ce6254fb123922a22bc7476d0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas paternidad"
        },
        "start": "={{ $fromAI('StartDate') + '-06:00' }}",
        "end": "={{ $fromAI('EndDate') + '-06:00' }}",
        "additionalFields": {
          "description": "={{ $fromAI('summary') }}",
          "summary": "=Cita de {{ $fromAI('name')}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        6336,
        560
      ],
      "id": "6c466bdc-dc22-47c2-8349-c1f2c4acef64",
      "name": "crear_cita",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0tcCtWEIHQUJm5GP",
          "name": "Google Calendar alejandra"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "652ba8ef45146d4cc6eba4d595d04e3c8a48491ce6254fb123922a22bc7476d0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas paternidad"
        },
        "timeMin": "={{ $fromAI('StartDate') }}",
        "timeMax": "={{ DateTime.fromISO($fromAI('EndtDate')).plus({ days: 7 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        6448,
        560
      ],
      "id": "de28def2-c748-485d-bc9c-8fca27d5d71c",
      "name": "ver_eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0tcCtWEIHQUJm5GP",
          "name": "Google Calendar alejandra"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "652ba8ef45146d4cc6eba4d595d04e3c8a48491ce6254fb123922a22bc7476d0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas paternidad"
        },
        "eventId": "={{ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        6560,
        560
      ],
      "id": "7bd04470-f83e-4831-94f1-34b2288683df",
      "name": "eliminar_cita",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0tcCtWEIHQUJm5GP",
          "name": "Google Calendar alejandra"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "652ba8ef45146d4cc6eba4d595d04e3c8a48491ce6254fb123922a22bc7476d0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas paternidad"
        },
        "timeMin": "={{ $fromAI('StartDate') }}",
        "timeMax": "={{ ($fromAI('EndDate')) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        6688,
        560
      ],
      "id": "0778fb4b-e214-4d0a-987c-854ba3e639f3",
      "name": "disponibilidad",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0tcCtWEIHQUJm5GP",
          "name": "Google Calendar alejandra"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('new_message').last().json.body[\"account[_links][self]\"] }}/ajax/v1/chats/session",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "kommoOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "request[chats][session][action]",
              "value": "create"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "3639e17f-517e-4804-a4f5-85792aaa9c3f",
      "name": "Obtener Token1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6416,
        64
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "XCGkDns3ixgO1bEC",
          "name": "PH Ópticas"
        },
        "kommoOAuth2Api": {
          "id": "jwF5hqVkRHXs80Dg",
          "name": "Alejandra"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amojo.kommo.com/v1/chats/{{ $json.response.chats.session.account.id }}/{{ $('new_message').last().json.body['message[add][0][chat_id]'] }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "X-Auth-Token",
              "value": "={{ $json.response.chats.session.access_token }}"
            },
            {
              "name": "chatId",
              "value": "={{ $('new_message').last().json.body['message[add][0][chat_id]'] }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "silent",
              "value": "false"
            },
            {
              "name": "priority",
              "value": "low"
            },
            {
              "name": "crm_entity[id]",
              "value": "={{ $('new_message').last().json.body['message[add][0][entity_id]'] }}"
            },
            {
              "name": "crm_entity[type]",
              "value": "={{ $('new_message').last().json.body['message[add][0][element_type]'] }}"
            },
            {
              "name": "persona_name",
              "value": "={{ $json.response.chats.session.user.name }}"
            },
            {
              "name": "persona_avatar",
              "value": "={{ $json.response.chats.session.user.avatar }}"
            },
            {
              "name": "text",
              "value": "=Nuestro equipo se pondrá en contacto lo antes posible para generar tu factura, mientras tanto nos podrías facilitar tus datos fiscales y uso de CFDI para agilizar el proceso"
            },
            {
              "name": "recipient_id",
              "value": "={{ $('new_message').last().json.body['message[add][0][author][id]'] }}"
            },
            {
              "name": "group_id"
            },
            {
              "name": "crm_dialog_id",
              "value": "={{ $('new_message').last().json.body['message[add][0][talk_id]'] }}"
            },
            {
              "name": "crm_contact_id",
              "value": "={{ $('new_message').last().json.body['message[add][0][contact_id]'] }}"
            },
            {
              "name": "crm_account_id",
              "value": "={{ $('new_message').last().json.body['account[id]'] }}"
            },
            {
              "name": "skip_link_shortener",
              "value": "false"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "13b68f8f-6608-4e31-be86-75293ceed4c1",
      "name": "Enviar mensaje1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6576,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2848f13f-f8f8-499d-98c9-92a115162f88",
              "leftValue": "={{ $json.body['message[add][0][origin]'] }}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        304,
        464
      ],
      "id": "42257176-8e1d-4d80-bae9-fb403396f3f7",
      "name": "filtrarTelegram",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n// item.json.data es un string con el JSON\n\nconst parsedData = JSON.parse(item.json.data);\n\n// Devuelve el objeto JSON ya parseado\n\nreturn {\n\njson: parsedData\n\n};\n\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        464
      ],
      "id": "aa6e9683-b549-4288-8f71-d080287acb69",
      "name": "parsed"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_alejandra",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories_alejandra"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('new_message').item.json.body['message[add][0][element_id]'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1152,
        560
      ],
      "id": "38d0675a-5382-472d-ac18-4b6f469554d6",
      "name": "memoryReset",
      "credentials": {
        "postgres": {
          "id": "RprAlbF4doTwt8BE",
          "name": "Postgres Alejandra"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('new_message').item.json.body[\"message[add][0][text]\"] }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "b275f7d6-0fec-44f5-82e3-fb027d3b058a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9ab34e66-306f-42ee-abec-6425d59c98f3",
                    "leftValue": "={{ $('new_message').item.json.body[\"message[add][0][text]\"] }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        944,
        464
      ],
      "id": "9894b1cd-d58a-492c-80fd-4c584d1e1de7",
      "name": "detectarReset"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un agente especializado en detectar 2 categorías, 1, la intención del usuario y 2 su estado emocional en una conversación. \n\n### 1. INTENCIÓN (`intencion`)\n\n- **”cupon**: Solo si el usuario desea canjear o usar un cupón\n  Ejemplos:\n  - “¿Puedo hacer válido este cupón?”\n  - “tengo este cupón?”\n  - “me dieron este cupón”\n  - “puedo usar este cupón?”\n\n- **\"factura\"**: Usa esta etiqueta **únicamente** si el mensaje incluye la palabra\n  “factura”, “facturar”, “CFDI”, “comprobante fiscal” o “RFC”.\nEjemplos válidos:\n  - “¿Me pueden facturar?”\n  - “Necesito la factura del servicio de ayer”\nEjemplos que **NO** son factura (clasifícalos como \"conversacion\"):\n  - “Póngalo a nombre de Ana López”\n  - “La cita sería a nombre de Luna Martínez”\n\n- **\"conversacion\"**: Para cualquier otro tipo de mensaje, como dudas, agendar una cita nueva, seguimiento general, ubicación, saludos, etc.\n  Ejemplos:\n  - “¿Tienen disponibilidad el sábado?”\n  - “Hola, quiero una cita en Monterrey”\n  - “¿Dónde están ubicados?”\n  - “Póngalo a nombre de Ana López”\n  - “La cita sería a nombre de Luna Martínez”\n\n### 2. ESTADO EMOCIONAL (`estado`)\nClasifica si el usuario está molesto, neutral o positivo.\n\n- `\"molesto\"`: solo si el usuario expresa inconformidad o enojo.\n  Ejemplos:\n  - \"No me gustó el corte que me hicieron ahí\"\n  - \"Estoy muy molesta por cómo me atendieron\"\n  - \"Quiero que me regresen mi dinero\"\n\n- `\"neutral\"`: el mensaje es informativo, directo, o no refleja emoción clara.\n- `\"positivo\"`: si el usuario expresa cortesía, entusiasmo o agradecimiento.\n\n---\n\nTu respuesta debe ser **exclusivamente** un JSON con esta estructura exacta:\nResponde solo con el siguiente JSON (sin explicaciones ni texto adicional):\n\n```json\n{\n  \"intencion\": \"conversacion\",\n  \"estado\": \"neutral\"\n}",
              "role": "system"
            },
            {
              "content": "={{ $('concatenar').item.json.mensaje_completo }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5488,
        352
      ],
      "id": "d2123cdd-b6d8-40df-8880-c4b4d267a82c",
      "name": "botAlejandra",
      "credentials": {
        "openAiApi": {
          "id": "VjMzRDkjX4D5vWM3",
          "name": "OpenAI Mi Hogar"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lapaz.kommo.com/api/v4/leads/{{ $('new_message').last().json.body['message[add][0][entity_id]'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImYxMmQ1ZTE5ZGRiNmUwY2M3NDhiN2IyYjg0ODA2Yjg5NjM0NDgwYzk2YjY1MDlmN2NhY2M2ODc4NWU2Y2E5MDBlYzg3NTkyMjlhMGMzOWU4In0.eyJhdWQiOiI3NWI3ODFlZS00MTNmLTQ0NGYtYWY0MS1mMjkxZmEyN2MzZmYiLCJqdGkiOiJmMTJkNWUxOWRkYjZlMGNjNzQ4YjdiMmI4NDgwNmI4OTYzNDQ4MGM5NmI2NTA5ZjdjYWNjNjg3ODVlNmNhOTAwZWM4NzU5MjI5YTBjMzllOCIsImlhdCI6MTc1MzQ2NjU1MywibmJmIjoxNzUzNDY2NTUzLCJleHAiOjE4ODgwOTkyMDAsInN1YiI6IjEyNjQyMDMxIiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MTA4MDM5LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiYTY2NjFiY2QtNzAyYy00MjA0LWI4ZTctN2I5YzU5YzFiMjk0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.ZovzGJFrwGqJxenhz6k4y7sBQqHUfdtQT1uDTPowc__g61NzqJ46Onkkom6yp6b3wBj31DDO-XzEYjgC3ovF2R6Wk2pZJpoV9hpwr1NswMzi-msoakE6WCSsLUIQpbDzV2JI2VTRACIaqUUz8DIYYi8IdoqqdavLtVcmFNeEfCnWHzqUQiyT-vFsJfly4psqSBI4AYJ7YoTGRo-PmqNaIrTF_fL2tcC13Oa6UjoP7PFthliZtShL6viim2iH33JPPKLFRgXbgVc6FDOSd7PeutoWN1_5UGH_H-fdctHQB4HZ3zNtxyo_3Ld4sg0-9QfNoY_d69EMwNwGIxyU8qGxsA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status_id\":89675227\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6240,
        64
      ],
      "id": "cc771956-2a75-4b46-b53c-99921c5a3fb0",
      "name": "columnaFactura",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lapaz.kommo.com/api/v4/leads/{{ $('new_message').last().json.body['message[add][0][entity_id]'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImYxMmQ1ZTE5ZGRiNmUwY2M3NDhiN2IyYjg0ODA2Yjg5NjM0NDgwYzk2YjY1MDlmN2NhY2M2ODc4NWU2Y2E5MDBlYzg3NTkyMjlhMGMzOWU4In0.eyJhdWQiOiI3NWI3ODFlZS00MTNmLTQ0NGYtYWY0MS1mMjkxZmEyN2MzZmYiLCJqdGkiOiJmMTJkNWUxOWRkYjZlMGNjNzQ4YjdiMmI4NDgwNmI4OTYzNDQ4MGM5NmI2NTA5ZjdjYWNjNjg3ODVlNmNhOTAwZWM4NzU5MjI5YTBjMzllOCIsImlhdCI6MTc1MzQ2NjU1MywibmJmIjoxNzUzNDY2NTUzLCJleHAiOjE4ODgwOTkyMDAsInN1YiI6IjEyNjQyMDMxIiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MTA4MDM5LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiYTY2NjFiY2QtNzAyYy00MjA0LWI4ZTctN2I5YzU5YzFiMjk0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.ZovzGJFrwGqJxenhz6k4y7sBQqHUfdtQT1uDTPowc__g61NzqJ46Onkkom6yp6b3wBj31DDO-XzEYjgC3ovF2R6Wk2pZJpoV9hpwr1NswMzi-msoakE6WCSsLUIQpbDzV2JI2VTRACIaqUUz8DIYYi8IdoqqdavLtVcmFNeEfCnWHzqUQiyT-vFsJfly4psqSBI4AYJ7YoTGRo-PmqNaIrTF_fL2tcC13Oa6UjoP7PFthliZtShL6viim2iH33JPPKLFRgXbgVc6FDOSd7PeutoWN1_5UGH_H-fdctHQB4HZ3zNtxyo_3Ld4sg0-9QfNoY_d69EMwNwGIxyU8qGxsA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status_id\":89675223\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6240,
        224
      ],
      "id": "d17ca854-7a32-4392-9eee-b23d7aaeed47",
      "name": "columnaMolesto",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('new_message').last().json.body['message[add][0][element_id]'] }}",
        "tableName": "n8n_chat_histories_alejandra",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        6192,
        560
      ],
      "id": "b2147e9e-3c12-4f9c-828e-53ac9551b5f8",
      "name": "Memoria",
      "credentials": {
        "postgres": {
          "id": "RprAlbF4doTwt8BE",
          "name": "Postgres Alejandra"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://lapaz.kommo.com/api/v4/leads/{{ $('new_message').last().json.body['message[add][0][element_id]'] }}/links",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImYxMmQ1ZTE5ZGRiNmUwY2M3NDhiN2IyYjg0ODA2Yjg5NjM0NDgwYzk2YjY1MDlmN2NhY2M2ODc4NWU2Y2E5MDBlYzg3NTkyMjlhMGMzOWU4In0.eyJhdWQiOiI3NWI3ODFlZS00MTNmLTQ0NGYtYWY0MS1mMjkxZmEyN2MzZmYiLCJqdGkiOiJmMTJkNWUxOWRkYjZlMGNjNzQ4YjdiMmI4NDgwNmI4OTYzNDQ4MGM5NmI2NTA5ZjdjYWNjNjg3ODVlNmNhOTAwZWM4NzU5MjI5YTBjMzllOCIsImlhdCI6MTc1MzQ2NjU1MywibmJmIjoxNzUzNDY2NTUzLCJleHAiOjE4ODgwOTkyMDAsInN1YiI6IjEyNjQyMDMxIiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MTA4MDM5LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiYTY2NjFiY2QtNzAyYy00MjA0LWI4ZTctN2I5YzU5YzFiMjk0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.ZovzGJFrwGqJxenhz6k4y7sBQqHUfdtQT1uDTPowc__g61NzqJ46Onkkom6yp6b3wBj31DDO-XzEYjgC3ovF2R6Wk2pZJpoV9hpwr1NswMzi-msoakE6WCSsLUIQpbDzV2JI2VTRACIaqUUz8DIYYi8IdoqqdavLtVcmFNeEfCnWHzqUQiyT-vFsJfly4psqSBI4AYJ7YoTGRo-PmqNaIrTF_fL2tcC13Oa6UjoP7PFthliZtShL6viim2iH33JPPKLFRgXbgVc6FDOSd7PeutoWN1_5UGH_H-fdctHQB4HZ3zNtxyo_3Ld4sg0-9QfNoY_d69EMwNwGIxyU8qGxsA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7392,
        96
      ],
      "id": "e11eebed-c128-4862-9b52-ed56c2571317",
      "name": "obtener Contact Id"
    },
    {
      "parameters": {
        "content": "## Rellenado de campos personalizados",
        "height": 852,
        "width": 1656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6944,
        0
      ],
      "typeVersion": 1,
      "id": "13412a21-8722-4ffa-bd83-5316f031361e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57b47233-af5e-4e98-8158-0976e7131fa8",
              "leftValue": "={{ $json.nombre }}",
              "rightValue": "vacio",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "10994dde-1a9e-440c-b62a-d16cc181a925",
              "leftValue": "={{ $json.apellido }}",
              "rightValue": "vacio",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "85a9cb70-b850-415d-a726-3c87ab38b71e",
              "leftValue": "={{ $json.correo }}",
              "rightValue": "vacio",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "e395ab04-b018-4e76-a474-188f88e9a4d0",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "vacio",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "0386bb82-f262-4d55-84ca-559694165b88",
              "leftValue": "={{ $json.dia }}",
              "rightValue": "vacio",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "4ba40a52-69b1-4a60-ab27-51141f6d0425",
              "leftValue": "={{ $json.hora }}",
              "rightValue": "vacio",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7216,
        256
      ],
      "id": "22c9ad31-62cf-4f60-9a5b-5d9476f422e3",
      "name": "valida_tenemos_todosdatos"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.data;\n\n// Convertimos el string JSON a objeto real\nconst parsed = JSON.parse(raw);\n\n// Extraemos el contact_id desde los links\nconst contactLink = parsed._embedded?.links?.find(link => link.to_entity_type === 'contacts');\n\nconst contactId = contactLink ? contactLink.to_entity_id : null;\n\nreturn [\n  {\n    json: {\n      contact_id: contactId\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7568,
        96
      ],
      "id": "45f0896d-0d4b-462c-9059-1988368c7361",
      "name": "extrae_contact_ID"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lapaz.kommo.com/api/v4/leads/{{ $('new_message').last().json.body['message[add][0][entity_id]'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImYxMmQ1ZTE5ZGRiNmUwY2M3NDhiN2IyYjg0ODA2Yjg5NjM0NDgwYzk2YjY1MDlmN2NhY2M2ODc4NWU2Y2E5MDBlYzg3NTkyMjlhMGMzOWU4In0.eyJhdWQiOiI3NWI3ODFlZS00MTNmLTQ0NGYtYWY0MS1mMjkxZmEyN2MzZmYiLCJqdGkiOiJmMTJkNWUxOWRkYjZlMGNjNzQ4YjdiMmI4NDgwNmI4OTYzNDQ4MGM5NmI2NTA5ZjdjYWNjNjg3ODVlNmNhOTAwZWM4NzU5MjI5YTBjMzllOCIsImlhdCI6MTc1MzQ2NjU1MywibmJmIjoxNzUzNDY2NTUzLCJleHAiOjE4ODgwOTkyMDAsInN1YiI6IjEyNjQyMDMxIiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MTA4MDM5LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiYTY2NjFiY2QtNzAyYy00MjA0LWI4ZTctN2I5YzU5YzFiMjk0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.ZovzGJFrwGqJxenhz6k4y7sBQqHUfdtQT1uDTPowc__g61NzqJ46Onkkom6yp6b3wBj31DDO-XzEYjgC3ovF2R6Wk2pZJpoV9hpwr1NswMzi-msoakE6WCSsLUIQpbDzV2JI2VTRACIaqUUz8DIYYi8IdoqqdavLtVcmFNeEfCnWHzqUQiyT-vFsJfly4psqSBI4AYJ7YoTGRo-PmqNaIrTF_fL2tcC13Oa6UjoP7PFthliZtShL6viim2iH33JPPKLFRgXbgVc6FDOSd7PeutoWN1_5UGH_H-fdctHQB4HZ3zNtxyo_3Ld4sg0-9QfNoY_d69EMwNwGIxyU8qGxsA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status_id\":79997587\n}\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7744,
        96
      ],
      "id": "d2ed02da-5c3b-4019-95a7-4f28ef80720d",
      "name": "Cambia_Agendado",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Nodo Code en n8n\nconst dataFromAI = $('Agente Relief').first().json.output; \n// Esto podría ser un objeto o un string JSON, dependiendo de la respuesta de la IA.\n\nlet salida = {\n  \"respuestausuario\": \"\",\n  \"nombre\": \"\",\n  \"apellido\": \"\",\n  \"correo\": \"\",\n  \"celular\": \"\",\n   \"dia\": \"\",\n  \"hora\": \"\",\n  \"atencion\": \"\"\n };\n\ntry {\n  // Aseguramos que 'dataFromAI' sea un objeto.\n// Si es string, lo parseamos; si no, simplemente usamos el objeto.\n  let parsed;\n  if (typeof dataFromAI === 'string') {\n    parsed = JSON.parse(dataFromAI);\n  } else {\n    parsed = dataFromAI;\n  }\n\n  // Verificamos si hay otro nivel de 'output'\n  let contenido = parsed.output || parsed;\n  if (typeof contenido.output === 'object') {\n    contenido = contenido.output;\n  }\n\n  // Asignamos los campos solicitados\n  salida.respuestausuario = contenido.respuestausuario ?? '';\n  salida.nombre = contenido.nombre ?? '';\n  salida.apellido = contenido.apellido ?? '';\n  salida.correo = contenido.correo ?? '';\n  salida.celular = contenido.celular ?? '';\n  salida.dia = contenido.dia ?? '';\n  salida.hora = contenido.hora ?? '';\n  salida.atencion = contenido.atencion ?? '';\n\n} catch (error) {\n  // En caso de error, devolvemos los campos vacíos para no romper el flujo\n  // (ya están inicializados vacíos).\n}\n\nreturn [\n  {\n    json: salida\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6688,
        384
      ],
      "id": "3b0df76d-e0b6-451e-a458-a1cdfe092b5a",
      "name": "Agente_Decisiones",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Ajusta aquí:\n */\nconst FIELD_ID_CITA = 897288;   // <-- ID real del campo en Kommo\nconst ENTITY = 'leads';         // 'leads' | 'contacts'\nconst TZ_OFFSET = '-06:00';     // Offset local (CDMX/AGS). Cambia si aplica DST.\n\n/** Utilidades */\nfunction pad2(n){ return String(n).padStart(2,'0'); }\nfunction normalizeTime(h){\n  if (!h) return '';\n  const p = h.split(':').map(x => x.trim());\n  if (p.length === 2) return `${pad2(p[0])}:${pad2(p[1])}:00`;\n  if (p.length === 3) return `${pad2(p[0])}:${pad2(p[1])}:${pad2(p[2])}`;\n  return '';\n}\n\n/** Tomamos datos del nodo Agente_Decisiones */\nlet data = $('Agente_Decisiones').first().json;\nif (Array.isArray(data)) data = data[0] || {};\n\nconst dia  = (data.dia || '').trim();           // \"YYYY-MM-DD\"\nconst hora = normalizeTime(data.hora || '');    // \"HH:MM:SS\"\n\n/** Validaciones simples */\nconst dateOk = /^\\d{4}-\\d{2}-\\d{2}$/.test(dia);\nconst timeOk = /^([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d$/.test(hora);\nif (!dateOk) throw new Error(`\"dia\" debe ser YYYY-MM-DD (recibido: \"${dia}\")`);\nif (!timeOk) throw new Error(`\"hora\" debe ser HH:MM(:SS) (recibido: \"${data.hora}\")`);\n\n/** Construcción con offset local */\nconst isoLocal = `${dia}T${hora}${TZ_OFFSET}`;\nconst epochFromLocal = Math.floor(new Date(isoLocal).getTime() / 1000);\n\n/**\n * Si tu campo en Kommo es FECHA/HORA, manda epochFromLocal.\n * Si es TEXTO, manda isoLocal.\n */\nconst valorParaKommo = epochFromLocal; // <-- cambia a isoLocal si el campo es de texto\n\nconst customFields = [\n  {\n    field_id: FIELD_ID_CITA,\n    values: [{ value: valorParaKommo }],\n  },\n];\n\nreturn [{\n  json: {\n    entity: ENTITY,\n    cita_iso_local: isoLocal,\n    cita_epoch_local: epochFromLocal,\n    custom_fields_values: customFields,\n    ...data,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7920,
        96
      ],
      "id": "36766f37-7b64-4dc1-b4fa-10e472e139ad",
      "name": "FormatoUnixFechaHora"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lapaz.kommo.com/api/v4/contacts/{{ $('extrae_contact_ID').last().json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImYxMmQ1ZTE5ZGRiNmUwY2M3NDhiN2IyYjg0ODA2Yjg5NjM0NDgwYzk2YjY1MDlmN2NhY2M2ODc4NWU2Y2E5MDBlYzg3NTkyMjlhMGMzOWU4In0.eyJhdWQiOiI3NWI3ODFlZS00MTNmLTQ0NGYtYWY0MS1mMjkxZmEyN2MzZmYiLCJqdGkiOiJmMTJkNWUxOWRkYjZlMGNjNzQ4YjdiMmI4NDgwNmI4OTYzNDQ4MGM5NmI2NTA5ZjdjYWNjNjg3ODVlNmNhOTAwZWM4NzU5MjI5YTBjMzllOCIsImlhdCI6MTc1MzQ2NjU1MywibmJmIjoxNzUzNDY2NTUzLCJleHAiOjE4ODgwOTkyMDAsInN1YiI6IjEyNjQyMDMxIiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MTA4MDM5LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiYTY2NjFiY2QtNzAyYy00MjA0LWI4ZTctN2I5YzU5YzFiMjk0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.ZovzGJFrwGqJxenhz6k4y7sBQqHUfdtQT1uDTPowc__g61NzqJ46Onkkom6yp6b3wBj31DDO-XzEYjgC3ovF2R6Wk2pZJpoV9hpwr1NswMzi-msoakE6WCSsLUIQpbDzV2JI2VTRACIaqUUz8DIYYi8IdoqqdavLtVcmFNeEfCnWHzqUQiyT-vFsJfly4psqSBI4AYJ7YoTGRo-PmqNaIrTF_fL2tcC13Oa6UjoP7PFthliZtShL6viim2iH33JPPKLFRgXbgVc6FDOSd7PeutoWN1_5UGH_H-fdctHQB4HZ3zNtxyo_3Ld4sg0-9QfNoY_d69EMwNwGIxyU8qGxsA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_fields_values\": [\n    {\n      \"field_id\": 1021414,\n      \"values\": [\n        {\n          \"value\": \"{{ $json.celular }}\"\n        }\n      ]\n    },\n    {\n      \"field_id\": 1022936,\n      \"values\": [\n        {\n          \"value\": \"{{ $json.nombre }}\"\n        }\n      ]\n    },\n    {\n      \"field_id\": 1022938,\n      \"values\": [\n        {\n          \"value\": \"{{ $json.apellido }}\"\n        }\n      ]\n    },\n    {\n      \"field_id\": 1022940,\n      \"values\": [\n        {\n          \"value\": \"{{ $json.correo }}\"\n        }\n      ]\n    }\n\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8128,
        96
      ],
      "id": "24384528-d76f-45ed-bcb7-17d22e5ec5c6",
      "name": "Llena_Campos_contacto_Kommo",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lapaz.kommo.com/api/v4/leads/{{ $('new_message').last().json.body['message[add][0][element_id]'] }}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImYxMmQ1ZTE5ZGRiNmUwY2M3NDhiN2IyYjg0ODA2Yjg5NjM0NDgwYzk2YjY1MDlmN2NhY2M2ODc4NWU2Y2E5MDBlYzg3NTkyMjlhMGMzOWU4In0.eyJhdWQiOiI3NWI3ODFlZS00MTNmLTQ0NGYtYWY0MS1mMjkxZmEyN2MzZmYiLCJqdGkiOiJmMTJkNWUxOWRkYjZlMGNjNzQ4YjdiMmI4NDgwNmI4OTYzNDQ4MGM5NmI2NTA5ZjdjYWNjNjg3ODVlNmNhOTAwZWM4NzU5MjI5YTBjMzllOCIsImlhdCI6MTc1MzQ2NjU1MywibmJmIjoxNzUzNDY2NTUzLCJleHAiOjE4ODgwOTkyMDAsInN1YiI6IjEyNjQyMDMxIiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MTA4MDM5LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiYTY2NjFiY2QtNzAyYy00MjA0LWI4ZTctN2I5YzU5YzFiMjk0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.ZovzGJFrwGqJxenhz6k4y7sBQqHUfdtQT1uDTPowc__g61NzqJ46Onkkom6yp6b3wBj31DDO-XzEYjgC3ovF2R6Wk2pZJpoV9hpwr1NswMzi-msoakE6WCSsLUIQpbDzV2JI2VTRACIaqUUz8DIYYi8IdoqqdavLtVcmFNeEfCnWHzqUQiyT-vFsJfly4psqSBI4AYJ7YoTGRo-PmqNaIrTF_fL2tcC13Oa6UjoP7PFthliZtShL6viim2iH33JPPKLFRgXbgVc6FDOSd7PeutoWN1_5UGH_H-fdctHQB4HZ3zNtxyo_3Ld4sg0-9QfNoY_d69EMwNwGIxyU8qGxsA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"Cita de {{$('Agente_Decisiones').item.json.nombre}} {{$('Agente_Decisiones').item.json.apellido}}\",\n  \"tags\": [{ \"name\": \"AgendadoNuevoCliente\" }],\n  \"custom_fields_values\": [\n    {\n      \"field_id\": 897288,\n      \"values\": [{ \"value\": \"{{ $('FormatoUnixFechaHora').item.json.cita_iso_local }}\" }]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8352,
        96
      ],
      "id": "0cfb25a6-4273-4af7-8946-afa221feec19",
      "name": "Llena_Campos_Lead_Kommo",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Revisar Tag').last().json.data.parseJson()._embedded.tags.some(t => t.name === 'agendado') }}",
                    "rightValue": 62821670,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "99544b19-1ec2-43bc-ad8a-cd6eea119e53"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no agendado tag"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "23c9d8bc-691f-4d5d-9410-6383e4474551",
                    "leftValue": "={{ $('Revisar Tag').last().json.data.parseJson()._embedded.tags.some(t => t.name === 'agendado') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "si agendado tag"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6976,
        384
      ],
      "id": "24a81b20-b69d-43f8-9941-25b2fad95e62",
      "name": "agendado?"
    }
  ],
  "pinData": {
    "new_message": [
      {
        "json": {
          "headers": {
            "host": "n8n.relief.com.mx",
            "user-agent": "amoCRM-Webhooks/3.0",
            "content-length": "1209",
            "accept-encoding": "gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-amocrm-requestid": "12f0e951-2a42-4846-9231-dd05778f9aa0",
            "x-forwarded-for": "204.74.253.164",
            "x-forwarded-host": "n8n.relief.com.mx",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b33f097d8a20",
            "x-real-ip": "204.74.253.164"
          },
          "params": {},
          "query": {},
          "body": {
            "account[subdomain]": "lapaz",
            "account[id]": "34108039",
            "account[_links][self]": "https://lapaz.amocrm.com",
            "message[add][0][id]": "9d8a0f18-0ef3-4e97-b3bc-0dcab0fad0b3",
            "message[add][0][chat_id]": "c844beed-6f27-44ab-9e8a-459a40055bed",
            "message[add][0][talk_id]": "512",
            "message[add][0][contact_id]": "17790326",
            "message[add][0][text]": "",
            "message[add][0][created_at]": "1755130365",
            "message[add][0][attachment][type]": "picture",
            "message[add][0][attachment][link]": "https://amojo.kommo.com/v2/21da45ae-f0f3-4314-bfb6-ca8911bdbceb/attachments/c8fab902-5153-4be5-a540-3632be98dcbf/file.jpeg",
            "message[add][0][attachment][file_name]": "file.jpeg",
            "message[add][0][element_type]": "2",
            "message[add][0][entity_type]": "lead",
            "message[add][0][element_id]": "15472118",
            "message[add][0][entity_id]": "15472118",
            "message[add][0][type]": "incoming",
            "message[add][0][author][id]": "9642ec4f-8ebc-4e38-a351-645df7b483cb",
            "message[add][0][author][type]": "external",
            "message[add][0][author][name]": "Gris Salon",
            "message[add][0][origin]": "waba"
          },
          "webhookUrl": "https://n8n.relief.com.mx/webhook/alejandrabot",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Relief",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "new_message": {
      "main": [
        [
          {
            "node": "filtrarTelegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Relief": {
      "main": [
        [
          {
            "node": "Agente_Decisiones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tiempo_actual": {
      "main": [
        [
          {
            "node": "Supabase_insert_row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ordena": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "concatenar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "concatenar": {
      "main": [
        [
          {
            "node": "vacia_supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "botAlejandra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMany_Estado_procesando": {
      "main": [
        [
          {
            "node": "IF_Ejecucion_Activa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_insert_row": {
      "main": [
        [
          {
            "node": "GetMany_Estado_procesando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Ejecucion_Activa": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase_actualiza_procesando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_actualiza_procesando": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead": {
      "main": [
        [
          {
            "node": "parsed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisar Tag": {
      "main": [
        [
          {
            "node": "hasStopTag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasStopTag": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensaje": {
      "main": [
        [
          {
            "node": "Configurar Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener voz",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Texto": {
      "main": [
        [
          {
            "node": "Combinar tipos de mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener voz": {
      "main": [
        [
          {
            "node": "Transcribir voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener imagen": {
      "main": [
        [
          {
            "node": "Describir imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir voz": {
      "main": [
        [
          {
            "node": "Combinar tipos de mensaje",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Describir imagen": {
      "main": [
        [
          {
            "node": "Combinar tipos de mensaje",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Combinar tipos de mensaje": {
      "main": [
        [
          {
            "node": "Juntamos en un solo texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntamos en un solo texto": {
      "main": [
        [
          {
            "node": "tiempo_actual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Token": {
      "main": [
        [
          {
            "node": "Enviar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "intencion1": {
      "main": [
        [
          {
            "node": "columnaFactura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "columnaMolesto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Relief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "ordena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Tipo de mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_cita": {
      "ai_tool": [
        [
          {
            "node": "Agente Relief",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ver_eventos": {
      "ai_tool": [
        [
          {
            "node": "Agente Relief",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "eliminar_cita": {
      "ai_tool": [
        [
          {
            "node": "Agente Relief",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "Agente Relief",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Token1": {
      "main": [
        [
          {
            "node": "Enviar mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtrarTelegram": {
      "main": [
        [
          {
            "node": "Get Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parsed": {
      "main": [
        [
          {
            "node": "detectarReset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "detectarReset": {
      "main": [
        [
          {
            "node": "Revisar Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "memoryReset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "botAlejandra": {
      "main": [
        [
          {
            "node": "intencion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "columnaFactura": {
      "main": [
        [
          {
            "node": "Obtener Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "Agente Relief",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "obtener Contact Id": {
      "main": [
        [
          {
            "node": "extrae_contact_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "valida_tenemos_todosdatos": {
      "main": [
        [
          {
            "node": "obtener Contact Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrae_contact_ID": {
      "main": [
        [
          {
            "node": "Cambia_Agendado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cambia_Agendado": {
      "main": [
        [
          {
            "node": "FormatoUnixFechaHora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente_Decisiones": {
      "main": [
        [
          {
            "node": "agendado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatoUnixFechaHora": {
      "main": [
        [
          {
            "node": "Llena_Campos_contacto_Kommo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llena_Campos_contacto_Kommo": {
      "main": [
        [
          {
            "node": "Llena_Campos_Lead_Kommo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llena_Campos_Lead_Kommo": {
      "main": [
        [
          {
            "node": "Obtener Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendado?": {
      "main": [
        [
          {
            "node": "valida_tenemos_todosdatos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d11186fe-7bd0-4f16-be8d-b37045ecb698",
  "meta": {
    "instanceId": "508a067bccb450f898771ce071e3ad11403242584fa7875a764cd2778b2820ba"
  },
  "id": "Be5KJOWMCrp2m78m",
  "tags": []
}